# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.13

## Exercícios

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista1a10 = [1,2,3,4,5,6,7,8,9,10]
    
print(lista1a10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista_objetos = ["arroz, feijao, maca, abacate, laranja"]
print(lista_objetos)

['arroz, feijao, maca, abacate, laranja']

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
lista_frutas = ["abacate, maca, uva, coco, banana"]
lista_legumes = ["cenoura, beteraba, batata, tomate"]
lista_sacolao = lista_frutas + lista_legumes
print(lista_sacolao)

['abacate, maca, uva, coco, banana', 'cenoura, beteraba, batata, tomate']

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupula_numeros = (1, 2, 2, 3, 4, 4, 4, 5)
tupula_numeros.index(2)

1

In [6]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dicionario_01 = {} 
print(dicionario_01)

{}

In [7]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dicionario_02 = {"joaquim":24, "jose": 22, "Maria":15, }
dicionario_02

{'joaquim': 24, 'jose': 22, 'Maria': 15}

In [8]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

dicionario_02 ["pedro"] = 24

dicionario_02

{'joaquim': 24, 'jose': 22, 'Maria': 15, 'pedro': 24}

In [12]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dicionarioa_03 = {"ana":25, "chave":[1,2,3], "jose":65}
dicionarioa_03

{'ana': 25, 'chave': [1, 2, 3], 'jose': 65}

In [13]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.
lista_elemento = ["arroz", ('batata',"banana"), {"chave":54, "chave2":45},4.5]
lista_elemento

['arroz', ('batata', 'banana'), {'chave': 54, 'chave2': 45}, 4.5]

In [15]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[1:18]

'ientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>