# calcular area do parelelograma

In [1]:
print('boa tarde !')

boa tarde !

In [2]:
print('digite  os valores das mediadas para obtermos a area do  parelelograma ')

digite  os valores das mediadas para obtermos a area do  parelelograma

In [5]:
altura = float(input("Qual a altura :"))

Qual a altura :4

In [6]:
base = float(input("qual a base :"))

qual a base :5

In [7]:
area = base * altura

In [8]:
print("Area = ",area)

Area =  20.0

##                                                 calculadora simples

In [1]:
print("ola seja bem vindo a minha calculado ")

ola seja bem vindo a minha calculado

In [2]:
n1 = float(input("digite o primeiro numero: "))

digite o primeiro numero: 4

In [3]:
n2 = float(input("digite o segundo numero: "))

digite o segundo numero: 5

In [4]:
operador = input("selcione um operador (+, -, /, *) :")

selcione um operador (+, -, /, *) :/

In [18]:

if operador == "+" :
    operacao = n1 + n2 
    print("resultado =", operacao)
                   
elif operador == "-" :
    operacao = n1 - n2
    print("resultado =", operacao)     
    
elif operador == "/" :
    operacao = n1 /  n2
    print("resultado =", operacao)
    
elif operador == "*":
    operacao = n1 * n2 
    print("resultado =", operacao) 
    
else:
    print("operador invalido.")

resultado = 0.8

# algoritimo bubble sort

inicie
     para ca elemento i no arry de tamanho n - 1 
        para cada elemento j no arry de tamanho n - 1
          se elemento i for maior que elemento j 
               troque os elementos i e j
        exiba na tela o arry ordenado
 fim

In [2]:
lista = [5,7,3,54,69,35,25,24,21,63,96,85,57,59,53,44,77,88,99,66,33,22,11]

In [16]:
def bubble_sort(arr):
    
    n = len(arr)
    
       #para cada elemento i o arry
    for i in range(n):
    
      # Para cada elemento j o arry
        for j in range(0, n-i-1):
        
         # se elemento i for maior que elemento j 
            if arr[j] > arr[j+1]:
                
                # troque os elmentos i e j
                arr[j], arr[j+i] = arr[j+1], arr[j] 
    return arr

In [17]:
print( bubble_sort(lista))

[3, 3, 5, 24, 24, 24, 24, 35, 53, 53, 53, 53, 53, 53, 57, 57, 57, 66, 66, 69, 63, 96, 11]

In [19]:
lista2 = [69,35,25,24,21,63,96,85,57,59,53]

In [20]:
print( bubble_sort(lista2))

[21, 21, 21, 21, 25, 57, 57, 57, 69, 96, 53]